@model IEnumerable<Forum.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>
<h5 style="font-size: medium;">Here you can see the list of users that we have registered, considering each user with them own privilege about them topics.</h5>

<p style="float:right; margin-top:40px">
    <a asp-action="Create">Register myself like a new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
                    @*@Html.DisplayFor(modelItem => item.Password)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
